.react-datepicker__day--selected {
    @apply bg-[#aeaeae] !important
}

.react-datepicker__month-container * {
    @apply font-sans !important
}

.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__current-month {
    @apply capitalize text-[25px] font-semibold
    xl:text-[18px] !important
}

.react-datepicker__day-name {
    @apply capitalize font-bold !important
}

.react-datepicker__aria-live + input {
    @apply font-sans font-semibold text-[18px] leading-[25px] bg-transparent cursor-pointer
    xl:text-[10px] xl:leading-[14px]
    sm:text-[8px] sm:leading-[11px]
    !important
}

.react-datepicker-popper[data-placement^=bottom] {
   @apply translate-y-[50px] xl:translate-y-[30px] !important;
}

.react-datepicker-popper[data-placement^=bottom], .react-datepicker-popper[data-placement^=top] {
    @apply  sm:translate-x-[-15px] !important;
}

.react-datepicker__day, .react-datepicker__day-name{
    @apply  text-[18px] font-sans
    xl:text-[14px]
    !important;
}

.react-datepicker__header {
    @apply bg-yellow-400 p-[15px]  border-none
    p-[8px]
    !important;
}

.react-datepicker__navigation-icon--next::before, .react-datepicker__navigation-icon--previous::before {
    @apply border-[rgba(0,0,0,0.6)] !important;
}

.react-datepicker__navigation {
    @apply top-[17px] xl:top-[10px] !important;
}

.react-datepicker {
    @apply rounded-none border-none scale-75 transition-all !important ;
    box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.2) !important;
    transition-duration: 1s !important;
}

.openwrap .react-datepicker {
    @apply scale-100 !important
}

.react-datepicker__month {
    @apply m-[10px] !important
}

.react-datepicker__current-month {
    @apply mb-[10px]  !important
}

.react-datepicker__day-names {
    @apply mb-[2px] flex justify-between !important
}

.react-datepicker__day {
    @apply m-[7px] w-[30px] leading-[30px]
    xl:m-[3px] xl:w-[30px] xl:leading-[30px]
    !important
}

.react-datepicker__input-container  {
    @apply xl:flex xl:items-center !important
}



